@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #4b6bfb;
  --secondary: rgb(27, 45, 107);
}

body {
  font-family: 'Poppins', sans-serif;
}